.THIS .emptyBatchClass {
    font-size: large;
    text-align: center;
}
.THIS#top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.THIS#bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.THIS.emptyBatchBackground {
    height: 33px;
    background-color: #FFFFFF;
}
.THIS .slds-text-heading_small {
    color: #FFFFFF;
}
.THIS .slds-card__header {
    padding-bottom: .75rem;
}
.THIS .slds-truncate {
  text-overflow: inherit;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.THIS .slds-button_icon-bare{
  display: none;
}
.THIS .slds-grid {
   border-radius: 5px;
}