.THIS .emptyBatchClass {
    font-size: x-large;
    color: #474C55;
    font-family:Futura-Std-Heavy;
    text-align: center;
    border-radius: 5px;
}

.THIS.emptyBatchBackground{
    background-color: #FFFFFF;
    border-radius: 5px;
}


.THIS .title{
    color: #FFFFFF;
    font-family:Futura-Std-Heavy;
    padding-bottom:5px;
}