.THIS .emptyBatchClass {
    font-size: xx-large;
    color: #474C55;
    font-family:Futura-Std-Heavy;
}

.THIS.emptyBatchBackground{
    background-color: #FFFFFF;
}
.THIS .title{
    color: #FFFFFF;
    font-family:Futura-Std-Heavy;
}